@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: ofont;
  font-display: swap;
  src: url("../fonts/ofont.woff2") format("woff2"), url("../fonts/ofont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Обнуляем все заголовки */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*=__container] {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 39px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link {
  display: inline-block;
  width: 255px;
  padding: 20px 0;
  border: 1px solid #7875FE;
  color: #7875FE;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.link:hover {
  background: #7875FE;
  color: #fff;
}

.link:focus {
  background: #DAD9FB;
  color: #7875FE;
  border: 1px solid #7875FE;
}

.link:active {
  background: #4946B4;
  color: #FFF;
}

.title {
  color: #666;
}

.text {
  color: #85859B;
  font-size: 18px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: relative;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 80px;
}

.header__logo {
  -webkit-transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
}

.header__logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.header__search {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
}

.header__search svg:hover {
  fill: #7875FE;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__form {
  position: relative;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__input {
  border-bottom: 1px solid #D1D1E5;
  margin: 0 0 0 6.91px;
  color: #4C5866;
  font-size: 20px;
  height: 24px;
  width: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__input::-webkit-input-placeholder {
  color: #D1D1E5;
}

.header__input::-moz-placeholder {
  color: #D1D1E5;
}

.header__input:-ms-input-placeholder {
  color: #D1D1E5;
}

.header__input::-ms-input-placeholder {
  color: #D1D1E5;
}

.header__input::placeholder {
  color: #D1D1E5;
}

.header__input_visibility {
  width: 224px;
}

.header__escape {
  background: transparent;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
  /* .header__escape_display */
}

.header__escape_display {
  display: block;
}

.header__log-in {
  font-size: 24px;
  color: #4C5866;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__log-in svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__log-in svg:hover {
  fill: #7875FE;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__log-in svg:focus {
  background: #DAD9FB;
}

.header__search,
.header__log-in {
  background: transparent;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px 5px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  margin: 0 60px 0 0;
  font-size: 20px;
  color: #4C5866;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu__link:hover {
  color: #7875FE;
}

.menu__link:focus {
  background: #DAD9FB;
}

.menu__link:active {
  color: #4946B4;
}

@-webkit-keyframes burgerAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header-sidebar {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-sidebar::before,
.header-sidebar::after {
  content: "";
  background-color: #333;
  height: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-sidebar span {
  height: 2px;
  background-color: #333;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.close-header-sidebar {
  /* Mobile */
}

.stage__container {
  padding: 60px 39px 0 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stage__content {
  max-width: 450px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-top: 70px;
}

.stage__content > *:not(:last-child) {
  margin: 0 0 30px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.stage__title {
  color: #4C5866;
  font-size: 60px;
  line-height: 100%;
}

.stage__text {
  line-height: 150%;
}

.stage__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-bottom: 0;
}

.stage__img img {
  max-width: 100%;
}

.materials {
  background: #EBEBEB;
}

.materials__container {
  padding: 90px 39px;
}

.materials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -20px;
}

.materials__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-bottom: 20px;
}

.materials__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 0 0px 0;
  border-top: 1px solid #C0C0C0;
}

.materials__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
}

.materials__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.materials__img img {
  max-width: 100%;
}

.materials__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.materials__content > *:not(:last-child) {
  margin: 0 0 20px 0;
}

.materials__title {
  font-size: 40px;
  line-height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.materials__text {
  line-height: 170%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.result__column {
  padding-top: 18px;
}

.result__title {
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.result__text {
  line-height: 27px;
}

.result__img {
  padding: 0 30px 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.products {
  padding: 90px 0;
}

.products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.products__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
}

.cards-products {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-products__img {
  display: block;
  padding: 70.59% 0 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cards-products__img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.cards-products__img:not(:last-child) {
  margin: 0 0 20px 0;
}

.cards-products__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards-products__content:not(:last-child) {
  margin: 0 0 20px 0;
}

.cards-products__title {
  font-size: 30px;
}

.cards-products__title:not(:last-child) {
  margin: 0 0 8px 0;
}

.cards-products__qty {
  font-size: 14px;
  color: #B5B5BD;
  display: inline-block;
}

.cards-products__qty:not(:last-child) {
  margin: 0 0 8px 0;
}

.cards-products__text {
  line-height: 170%;
}

.cards-products__link a {
  color: #7875FE;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cards-products__link a svg {
  fill: currentColor;
}

.cards-products__link a:hover {
  color: #4946B4;
}

.cards-products__link a:focus {
  background: #DAD9FB;
}

/*--------------PARTNERS-----------------   */

.partners {
  background: #EBEBEB;
  padding: 90px 0;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.partners__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  margin: 0 0 30px 0;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #C4C4C4;
  height: 135px;
  padding: 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.partners__item:hover {
  background: rgba(100, 98, 98, 0.1);
}

.sketchbook__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-right: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sketchbook__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.5%;
          flex: 0 1 31.5%;
  margin-top: 24px;
  max-width: 350px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-bottom: 90px;
}

.sketchbook__content:not(:last-child) {
  margin-right: 30px;
}

.sketchbook__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 68.5%;
          flex: 0 1 68.5%;
  max-height: 410px;
  z-index: -40;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sketchbook__img img {
  max-width: 100%;
}

.content__title {
  font-size: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content__title:not(:last-child) {
  margin-bottom: 8px;
}

.content__description {
  line-height: 170%;
}

.content__description:not(:last-child) {
  margin-bottom: 30px;
}

.footer__copyright {
  text-align: center;
  color: #4C5866;
  font-size: 13px;
  padding: 3px 0;
  text-transform: uppercase;
}

.contacts {
  padding: 29px 0;
  background: #4C5866;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__logo {
  -webkit-transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
}

.contacts__logo:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.socials__icon {
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socials__icon svg {
  z-index: 3;
  fill: currentColor;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.socials__icon svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.socials__icon:hover {
  color: #DAD9FB;
}

@media (min-width: 489.98px) {
  .header-sidebar {
    display: none;
  }
}

@media (max-width: 1139.98px) {
  .menu__link {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 1109.98px) {
  .partners__items {
    margin: 0 -10px -30px;
  }

  .partners__column {
    padding: 0 10px;
  }
}

@media (max-width: 1077.98px) {
  .partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1059.98px) {
  .menu__link {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 992px) {
  .partners {
    padding: 60px 0;
  }
}

@media (max-width: 991.98px) {
  [class*=__container] {
    padding: 0 33px;
  }

  .header__logo {
    padding: 10px 0;
  }

  .header__btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: auto;
  }

  .menu__list {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__link:last-child {
    margin: 0;
  }

  .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    padding: 0;
    min-height: 60px;
  }

  .menu::after {
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
  }

  .stage__container {
    padding: 60px 33px 0 33px;
  }

  .stage__content {
    margin-top: 5px;
    margin-right: 75px;
  }

  .stage__title {
    font-size: 50px;
  }

  .materials__container {
    padding: 60px 33px;
  }

  .materials__title {
    font-size: 30px;
  }

  .materials__text {
    font-size: 17px;
  }

  .result__img {
    padding: 0 15px 0 0;
  }

  .products {
    padding: 60px 0;
  }

  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .sketchbook__container {
    padding-top: 60px;
  }

  .sketchbook__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding-bottom: 60px;
  }

  .sketchbook__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .content__title {
    font-size: 30px;
  }
}

@media (max-width: 868.98px) {
  .materials__result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 867.98px) {
  .sketchbook__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }

  .sketchbook__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
}

@media (max-width: 851.98px) {
  .stage__content > *:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .stage__title {
    font-size: 40px;
  }

  .stage__img img {
    max-width: 100%;
    height: 400px;
  }
}

@media (max-width: 767.98px) {
  .link {
    width: 196px;
    padding: 18px 0;
  }

  .close-header-sidebar {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    z-index: 50;
    height: 30px;
  }

  .close-header-sidebar span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .close-header-sidebar::before,
  .close-header-sidebar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #333;
    height: 2px;
  }

  .close-header-sidebar::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .close-header-sidebar::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .cards-products__title {
    font-size: 24px;
  }
}

@media (max-width: 678.98px) {
  .stage__text {
    font-size: 16px;
  }
}

@media (max-width: 614.98px) {
  [class*=__container] {
    padding: 0 15px;
  }

  .stage__container {
    padding: 50px 15px 0;
  }

  .materials__container {
    padding: 50px 15px;
  }

  .materials__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .materials__result {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .materials__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .materials__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .materials__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .result__img {
    padding: 0 30px 0 0;
  }

  .products__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .sketchbook__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .sketchbook__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .sketchbook__img {
    text-align: center;
  }
}

@media (max-width: 604.98px) {
  .text {
    font-size: 16px;
  }

  .stage__title {
    font-size: 38px;
  }
}

@media (max-width: 553.98px) {
  .stage__container {
    padding: 50px 15px;
  }

  .stage__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 0;
  }

  .stage__img {
    display: none;
  }
}

@media (max-width: 489.98px) {
  .link {
    width: 144px;
    padding: 15px 0;
    font-size: 18px;
  }

  .header__logo {
    z-index: 100;
    width: 100%;
    text-align: center;
  }

  .header__log-in {
    margin-left: 15px;
  }

  .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow: auto;
    padding: 112px 15px;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    -webkit-animation: burgerAnimation 0.4s;
            animation: burgerAnimation 0.4s;
  }

  .show-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #D9D9D9;
  }

  .show-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .show-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: #D9D9D9;
  }

  .stage__title {
    font-size: 30px;
  }

  .materials__title {
    font-size: 24px;
  }

  .content__title {
    font-size: 24px;
  }
}

@media (max-width: 376.98px) {
  .contacts__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__logo {
    width: 100%;
    text-align: center;
  }

  .contacts__logo:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.25);
  }
}